<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Editing pin</h1>
	</div>

<%= render 'form' %>

<div class="panel-footer">
<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
</div>
</div>